# ruby/bundler stuff
.ruby-version
.ruby-gemset
.rvmrc
Gemfile.lock
.bundle
*.gem

# YARD artifacts
.yardoc
_yardoc
doc/
.idea

# Chef stuff
Berksfile.lock
.kitchen
.kitchen.local.yml
vendor/
.coverage/
.zero-knife.rb
Policyfile.lock.json
Cheffile.lock
.librarian/

# vagrant stuff
.vagrant/
.vagrant.d/
.kitchen/kitchen-vagrant/

# CI stuff
/junit
